<script>
window.list_actions_SUDO = "{{ url_for('sudo_api.actions.list_actions') }}";
window.reset_actions_SUDO = "{{ url_for('sudo_api.actions.reset_actions') }}";
window.get_config_SUDO = "{{ url_for('sudo_api.config.get_config') }}";
window.patch_config_SUDO = "{{ url_for('sudo_api.config.patch_config') }}";
window.delete_config_SUDO = "{{ url_for('sudo_api.config.delete_config') }}";
window.get_all_logs_SUDO = "{{ url_for('sudo_api.logs.get_all_logs') }}";
window.purge_all_logs_SUDO = "{{ url_for('sudo_api.logs.purge_all_logs') }}";
window.list_passkeys_SUDO = "{{ url_for('sudo_api.passkeys.list_passkeys') }}";
window.create_passkey_SUDO = "{{ url_for('sudo_api.passkeys.create_passkey') }}";
window.delete_passkey_SUDO = "{{ url_for('sudo_api.passkeys.delete_passkey') }}";
window.list_roles_SUDO = "{{ url_for('sudo_api.roles.list_roles') }}";
window.create_role_SUDO = "{{ url_for('sudo_api.roles.create_role') }}";
window.update_role_SUDO = "{{ url_for('sudo_api.roles.update_role') }}";
window.delete_role_SUDO = "{{ url_for('sudo_api.roles.delete_role') }}";
window.list_user_sessions_for_user_SUDO = "{{ url_for('sudo_api.user_sessions.list_user_sessions_for_user') }}";
window.expire_session_SUDO = "{{ url_for('sudo_api.user_sessions.expire_session') }}";
window.shell_ws_API = "{{ url_for('__flask_sock.shell_ws') }}";
window.jwt_to_cookie_SUDO = "{{ url_for('sudo_api.system.jwt_to_cookie') }}";
window.get_system_info_SUDO = "{{ url_for('sudo_api.system.get_system_info') }}";
window.create_user_SUDO = "{{ url_for('sudo_api.users.create_user') }}";
window.list_users_SUDO = "{{ url_for('sudo_api.users.list_users') }}";
window.update_user_SUDO = "{{ url_for('sudo_api.users.update_user') }}";
window.do_user_action_SUDO = "{{ url_for('sudo_api.users.do_user_action') }}";
window.server_agent_ws_API = "{{ url_for('server_agent_ws', agent_id='0') }}";
window.agent_ws_API = "{{ url_for('agent_ws', agent_id='0') }}";
window.list_agents_API = "{{ url_for('auth_api.agent.list_agents') }}";
window.delete_agent_API = "{{ url_for('auth_api.agent.delete_agent') }}";
window.get_agent_API = "{{ url_for('auth_api.agent.get_agent') }}";
window.get_sudo_API = "{{ url_for('auth_api.get_sudo.get_sudo') }}";
window.login_twofa_API = "{{ url_for('auth_api.me.login_twofa') }}";
window.me_API = "{{ url_for('auth_api.me.me') }}";
window.am_i_admin_API = "{{ url_for('auth_api.me.am_i_admin') }}";
window.twofa_API = "{{ url_for('auth_api.me.twofa') }}";
window.sessions_API = "{{ url_for('auth_api.me.sessions') }}";
window.expire_session_API = "{{ url_for('auth_api.me.expire_session') }}";
window.update_password_API = "{{ url_for('auth_api.me.update_password') }}";
window.update_details_API = "{{ url_for('auth_api.me.update_details') }}";
window.enable_2fa_API = "{{ url_for('auth_api.me.enable_2fa') }}";
window.disable_2fa_API = "{{ url_for('auth_api.me.disable_2fa') }}";
window.get_user_logs_API = "{{ url_for('auth_api.me.get_user_logs') }}";
window.purge_all_logs_API = "{{ url_for('auth_api.me.purge_all_logs') }}";
window.list_passkeys_API = "{{ url_for('auth_api.passkeys.list_passkeys') }}";
window.register_begin_API = "{{ url_for('auth_api.passkeys.register_begin') }}";
window.passkey_register_complete_API = "{{ url_for('auth_api.passkeys.passkey_register_complete') }}";
window.passkey_login_complete_API = "{{ url_for('auth_api.passkeys.passkey_login_complete') }}";
window.delete_passkey_API = "{{ url_for('auth_api.passkeys.delete_passkey') }}";
window.login_API = "{{ url_for('anon_api.login.login') }}";
window.logout_API = "{{ url_for('anon_api.login.logout') }}";
window.refresh_API = "{{ url_for('anon_api.login.refresh') }}";
window.signup_API = "{{ url_for('anon_api.login.signup') }}";
window.passkey_login_begin_API = "{{ url_for('anon_api.login.passkey_login_begin') }}";
window.request_reset_API = "{{ url_for('anon_api.reset.request_reset') }}";
window.confirm_reset_API = "{{ url_for('anon_api.reset.confirm_reset') }}";
window.admin_elevate_HTML = "{{ url_for('html_pages.admin.admin_elevate') }}";
window.admin_users_HTML = "{{ url_for('html_pages.admin.admin_users') }}";
window.admin_roles_HTML = "{{ url_for('html_pages.admin.admin_roles') }}";
window.admin_actions_HTML = "{{ url_for('html_pages.admin.admin_actions') }}";
window.admin_system_HTML = "{{ url_for('html_pages.admin.admin_system') }}";
window.admin_logs_HTML = "{{ url_for('html_pages.admin.admin_logs') }}";
window.admin_configuration_HTML = "{{ url_for('html_pages.admin.admin_configuration') }}";
window.admin_codicon_HTML = "{{ url_for('html_pages.admin.admin_codicon') }}";
window.admin_HTML = "{{ url_for('html_pages.admin.admin') }}";
window.home_HTML = "{{ url_for('html_pages.html.home') }}";
window.profile_page_HTML = "{{ url_for('html_pages.html.profile_page') }}";
window.security_page_HTML = "{{ url_for('html_pages.html.security_page') }}";
window.login_page_HTML = "{{ url_for('html_pages.html.login_page') }}";
window.signup_page_HTML = "{{ url_for('html_pages.html.signup_page') }}";
window.reset_page_HTML = "{{ url_for('html_pages.html.reset_page') }}";
window.agents_page_HTML = "{{ url_for('html_pages.html.agents_page') }}";
window.codicon_HTML = "{{ url_for('html_pages.html.codicon') }}";
window.file_manager_HTML = "{{ url_for('html_pages.html.file_manager') }}";
</script>